# Environnements virtuels
.venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Fichiers temporaires
*.log
*.tmp
*.bak
*.swp

# Données volumineuses
*.zip
*.tar
*.gz
*.joblib
*.pkl

# Résultats utilisateurs ou temporaires
*.json
!data/glossary/*.json
!data/input_examples/*.json
!data/output_examples/*.json

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit config
.streamlit/
